.number-heading span{
    font-size: x-large;
    font-weight: 100;
    font-family: SF mono,Fira code,monospace ;
}
.number-heading{
    font-size: 26px;
    font-family: sans-serif,SF mono,Fira code,monospace ;
    color: #ccd6f6;
    display: flex;
    margin-bottom: 40px;
}
.number-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #9ea8c557;
}

@media screen and (max-width: 900px){
    .number-heading::after {
        width: 200px;
  }
}
@media screen and (max-width: 426px){
    .number-heading{
        font-size: 20px;

    }
    .number-heading span{
        font-size: large;

    }
    .number-heading::after {
        width: 150px;
  }
  }