.circle-skill {
    width: 100px;
    height: 100px;
    position: relative;
}

.outer-circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 10%;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.15),
        -2px -2px 10px -2px rgba(255, 255, 255, 0.7);
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow:  inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -1px -3px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
       0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#count{
    font-weight: 500;
    color: #64ffda;

}
circle{
    fill:none;
    stroke: #64ffdbbd;
    stroke-width: 10%;
    /* stroke-dasharray: 450; */
    /* stroke-dashoffset: 450; */
    /* animation: animationProgress 2s linear forwards; */
}
.circle-skill svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.skillname{
    height: 50px;
    text-align: center;
}
/* @keyframes animationProgress{
    100%{
    stroke-dashoffset: 175;
    }
} */