.project-inner {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 4px;
    background-color: #112240;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    overflow: auto;
}
.project-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}
.project-top .folder {
    color: #64ffda;
}
.project-top .folder svg {
    width: 40px;
    height: 40px;
}
.project-top .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
}
.project-top .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
    color: #a8b2d1;

}
.project-top .project-links a:hover{
    color: #64ffda;
}
.project-top .project-links a svg {
    width: 20px;
    height: 20px;
}
.project-title {
    margin: 0px 0px 10px;
    color: #a8b2d1;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project-title a{
    color: #a8b2d1;
    font-size: 22px;
    text-decoration: none;

}
.project-description p{
    color: #a8b2d1;
    font-size: 17px;
}
.project-tech-list{
    display: flex;
    flex-wrap: wrap;
}
.project-tech-list li{
    list-style: none;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #bbc1d29e;
}