@font-face {
    font-family: "Agustina Regular";
    src: url(./fonts/Agustina-Signature.otf);
}
.header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    /* align-items: center; */
    position: fixed;
    top: 0px;
    width : 100%;
    max-width: 1600px;
    height : 100px;
    z-index: 11;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    /* transition: var(--transition); */
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
nav{
    
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 90%;
    color: #ccd6f6;
    font-family: SF Mono,Fira Code,Fira Mono,Roboto Mono,monospace;
    counter-reset: item 0;
    z-index: 12;
    margin: auto;

}
nav .logo a{
    
    width: 250px;
    font-size: 22px;
    text-align: center;
    margin: 20px;
    font-weight: 700;
    font-family: SF Mono,Fira Code,Fira Mono,Roboto Mono,monospace;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;

}
nav .logo a .logo-name{
    font-family : "Agustina Regular",sans-serif;
    font-size: larger;
    font :700;
    padding: 0 10px;
    color: #a8b2d1;
}
nav .logo a .logo-name:hover{
    color: #ccd6f6;
    text-shadow: 0px 1px #a8b2d1;
    transition: var(--transition);
}
nav .logo a .green-color{
    font-style: italic;
}
.green-color{
    color: #64ffda;
}
nav .navbar{
    /* border: 2px solid black; */
    text-align: end;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}
nav .navbar ul{
    margin-right: 20px;
}
nav .navbar ul li{
    display: inline-block;
    padding: 6px 15px;
    font-size: 17px;
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
}
nav .navbar ul li a{
    text-decoration: none;
    color: #ccd6f6;
    
}
nav .navbar ul li a:hover{
    color: #64ffda;
    /* text-decoration: underline; */
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: #64ffdba8;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.left{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 60px;
    right: auto;
    z-index: 10;
    color: #a8b2d1;
}
.left ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.left ul li a{
    display: list-item;
    text-align: -webkit-match-parent;
    color: #a8b2d1;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.left ul li a:hover{
    color: #64ffda;
    transform: translateY(-3px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    font-size: 25px;
    padding: 8px;
}
.right{
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 60px;
    left: auto;
    z-index: 10;
    color: #a8b2d1;
}
.e_mail{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.e_mail a{
    margin: 20px auto;
    padding: 10px;
    font-family: SF mono,Fira code,monospace ;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.5px;
    /* -webkit-writing-mode: vertical-rl; */
    writing-mode: vertical-rl;
    text-decoration: none;
    color:#a8b2d1;

}
.e_mail a:hover{
    color: #64ffda;
    transform: translateY(-3px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.line::after{
    content: "";
    display: block;
    width: 0.6px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
}
.navbar-collapse{
    display: none;
}

.navbar-collapse div{
    padding: 10px;
    font-size: 27px;
    color:#a8b2d1;
    cursor: pointer;
}
.navbar-collapse div:hover{
    font-size: 30px;
    color: #64ffda;
    transition: all 0.5s cubic-bezier(0.645,0.045,0.355,1);
}

.navbar-vertical{
    display: inline-block;
    width: 100%;
    position: relative;
    top: 100px;
    position: fixed;

}
.navbar-vertical ul{
    margin: 20px;
    list-style: none;
    padding: 0 50px;
}
.navbar-vertical ul li{
    padding: 15px 15px;
    font-size: 17px;
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    width: 160px;
}
.navbar-vertical ul li a{
    text-decoration: none;
    color: #ccd6f6;
    
}
.navbar-vertical ul li a:hover{
    color: #64ffda;
}


@media screen and (max-width: 1024px){
    .left{
        left: 40px;

    }
    .right{
        right: 40px;

    }
    nav .navbar ul li a span{
        display: none;
    }
    nav .navbar ul{
        padding: 0;
    }
    nav .logo a{
        margin: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .left , .right{
        display: none;
    }
    .navbar-collapse{
        display: flex;
    }
    nav .navbar{
        display: none;
    }

  }
@media screen and (max-width: 425px){
    nav .logo a .logo-name{
        font-size: medium;
    }
    nav .logo a {
        justify-content: left;
    }
    .navbar-vertical ul {
        padding: 0 30px;
    }
}